body {
  display: grid;
  place-items: center;

  padding: 2rem;

  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100lvh;
  min-height: 100svh;
}

.game-section {
  display: grid;
  place-items: center;
  grid-template-columns: 50ch 1fr;
  min-width: 100%;
}

.game-boy {

  --_color: #372ea5;
  --_border-radius: 15px;
  --_border-bottom-right: calc(var(--_border-radius) * 3);

  overflow: hidden;

  .shell {
    background-color: #e3e0d3;
    border-radius: var(--_border-radius);

    padding-inline: 20px;
    padding-block: 30px;
    border-bottom-right-radius: var(--_border-bottom-right);

    display: flex;
    flex-direction: column;
    place-items: center;

    .screen-border {
      background-color: #6e6769;
      border-radius: var(--_border-radius);
      border-bottom-right-radius: var(--_border-bottom-right);

      padding-inline: 50px;
      padding-block: 25px;
    }

    .logo {
      width: 100%;

      h3 {
        color: var(--_color);
      }
    }

    .game-pad {

      --_rotation: -25deg;

      width: 100%;
      min-height: 5rem;

      padding-inline: 1rem;

      display: grid;
      grid-template-columns: 1fr auto 1fr;
      place-items: center;
      gap: 1.7rem;

      .joypad {

        --_width: 40px;
        --_height: calc(var(--_width) * 3);
        --_border-radius: 5px;
        --_margin-left: calc((var(--_height) / 2) - var(--_width) / 2);

        position: relative;
        width: var(--_width);
        height: var(--_height);
        background-color: black;
        border-radius: var(--_border-radius);
        margin-left: var(--_margin-left);

        place-self: center;
        justify-self: baseline;

        &::after {
          content: '';
          position: absolute;
          inset: 0;

          rotate: 90deg;
          border-radius: var(--_border-radius);

          background-color: inherit;
        }

      }

      .action-buttons {
        display: flex;
        gap: 10px;

        place-self: center;
        justify-self: end;
        rotate: var(--_rotation);

        .buttons {

          --_size: 60px;
          position: relative;
          width: var(--_size);
          aspect-ratio: 1;
          background-color: #91304c;
          border-radius: 100%;

          span {
            position: absolute;
            top: calc(var(--_size) * 1.15);
            left: calc(var(--_size) * 0.45);

            font-weight: bolder;
            color: var(--_color);
          }
        }
      }

      .start-select {
        width: inherit;
        display: flex;
        gap: 15px;
        justify-content: center;


        .buttons {
          position: relative;

          rotate: var(--_rotation);

          width: 50px;
          height: 13px;
          background-color: #a19791;

          border-radius: 5px;

          span {

            position: absolute;
            top: .75rem;

            font-size: 1rem;
            font-weight: bolder;
            color: var(--_color);
          }
        }
      }
    }

    .speaker {
      width: 100%;
      justify-content: flex-end;
      display: flex;
      gap: 10px;
      position: relative;
      top: 100px;
      right: -20px;

      rotate: var(--_rotation);

      .speaker-grill {
        width: 10px;
        height: 80px;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }
}