/* 
  header 
    line height: 1.1, 1.3
    letter-spacing: -1, -2
    
  body text 
    line height: 1.4, 1.6
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  hanging-punctuation: first last;
  color-scheme: dark;
}

:root {

  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --border-radius: 10px;
  --font-family: system-ui, -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'open sans', 'helvetica neue', sans-serif;


  --max-width-screen: 1300px;
  --max-width-content: 950px;
  --primary-color: hsl(360 83% 54%);
  --main-padding: .8em;
  --background-color: #1c1b22;
}

body {
  font-family: var(--font-family);
  font-size: 1.125rem;
  height: 100dvh;
  height: 100lvh;

  padding: 1em;
  height: 100vh;
}

main {
  overflow: auto;
  height: 100%;

  padding: var(--main-padding);
  border-radius: var(--border-radius);
  border: 3px solid var(--primary-color);

  display: grid;
  place-items: center;
  gap: 2rem;
}



section {
  max-width: var(--max-width-content);
  width: 100%;
}

nav {

  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  max-width: calc(var(--max-width-content) + (180px * 2));

  div {

    display: flex;
    justify-content: flex-end;
    gap: 1.2em;
    flex-direction: column;
    position: absolute;
    background: transparent;

    a {
      font-weight: 600;
      color: inherit;
      font-size: var(--font-size-lg);
    }
  }
}


@media (width < 1350px) {
  nav {
    margin-inline: calc(var(--main-padding) * -2);
    margin-bottom: var(--main-padding);

    div {
      margin-top: calc(var(--main-padding) * -1);
      width: 100%;
      padding: 10px 20px;
      flex-direction: row;
      background-color: hsl(from var(--background-color) h s l / 70%);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);

      a {
        font-size: var(--font-size-md);
      }
    }
  }
}

@media (width < 450px) {
  nav {
    display: none;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

body> :is(header, footer),
section,
main,
article {
  container-type: inline-size;
}

h1 {
  --font-size: var(--font-size-xxl);
  margin-bottom: 0.5em;
  font-size: var(--font-size);
  font-weight: 900;
  line-height: calc(var(--font-size) * 1.1);
  letter-spacing: -2px;
}

h2 {
  place-self: start;

  --font-size: var(--font-size-xl);
  font-size: var(--font-size);
  font-weight: 600;
  line-height: calc(var(--font-size) * 1.1);
  letter-spacing: -2px;
  margin-bottom: 0.5em;
}

h3 {

  --font-size: var(--font-size-lg);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: calc(var(--font-size) * 1.1);
  letter-spacing: -2px;
  margin-bottom: 0.5em;
}

small {
  font-size: var(--font-size-sm);
}

p {
  --font-size: var(--font-size-base);
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.3);
  margin-bottom: 0.5em;
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: var(--border-radius);
}

button {
  cursor: pointer;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  min-width: 10ch;
}


.hero-section {
  height: 100vh;
  height: 100dvh;
  height: 100lvh;

  display: grid;
  place-items: center;

  h1 {
    text-align: right;

    span {
      color: var(--primary-color)
    }
  }

  .more-about-me {
    background: transparent;
    color: var(--primary-color);
    font-weight: 900;
    overflow: hidden;

    padding: 1em .8em;

    display: flex;
    gap: 5px;
    align-items: Center;
    i {
      font-weight: 800;
      font-size: 30px;
      animation: arrowanimation 1300ms infinite;

    }
  }
}

.about-me {
  display: grid;

  .content {
    container-type: inline-size;
    display: grid;
    place-items: Center;
    gap: 1rem;


    .contact-picture {

      overflow: clip;
      max-width: 300px;
      width: 100%;
      z-index: 1;
      position: relative;

      & img {
        transition: all 500ms ease;
        transform: translateY(10%);

        &:hover {
          transform: translateY(0%);
          transform: scale(1.1);
        }
      }

      & .eyes {
        position: absolute;
        inset: 0;

        & .eye {
          position: absolute;
          width: 4rem;
          aspect-ratio: 1;
          border: 2px solid black;
          border-radius: 100%;
          background: #fff;

          &::after {
            content: "";
            position: absolute;
            width: 7px;
            aspect-ratio: 1;
            background: black;
            border-radius: 100%;

            left: 45%;
            top: 7px;
          }
        }
      }
    }
  }

  @container (width > 65ch) {
    .content {
      grid-template-columns: auto 1fr;
    }
  }
}


.skills {

  .skill-cards {
    display: grid;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(800px);


    &:hover>div {
      filter: brightness(.3);
    }

    >div {

      --_gap: .5rem;
      --_icon-width: 50px;
      display: flex;
      gap: var(--_gap);
      place-items: center;
      position: relative;
      padding-bottom: 0.5rem;
      position: relative;

      transition: all 800ms ease;
      filter: brightness(1);

      &:hover {
        filter: brightness(1);
        transform: translateZ(100px);
      }

      &:hover+* {
        filter: brightness(0.8);
        transform: translateZ(80px) rotateX(-40deg);
      }

      &:hover+*+* {
        filter: brightness(0.6);
        transform: translateZ(60px) rotateX(-20deg);
      }

      &:hover+*+*+* {
        filter: brightness(0.4);
        transform: translateZ(40px) rotateX(-15deg);
      }

      &:has(+ *:hover) {
        filter: brightness(0.8);
        transform: translateZ(80px) rotateX(40deg);
      }

      &:has(+ *+ *:hover) {
        filter: brightness(0.6);
        transform: translateZ(60px) rotateX(20deg);
      }

      &:has(+ *+ *+ *:hover) {
        filter: brightness(0.4);
        transform: translateZ(40px) rotateX(10deg);
      }

      & i,
      .ts-icon {
        font-size: var(--font-size-lg);
        position: relative;
        place-self: center;
        display: flex;
        aspect-ratio: 1;
        width: var(--_icon-width);

        & svg {
          & path {
            fill: white;
          }
        }

        &::before {

          width: 100%;
          display: flex;
          place-self: center;
          justify-content: center;
        }
      }

      &:after {
        content: '5 Years';
        position: absolute;
        right: 0;
        top: 0;

        font-size: var(--font-size-sm);
        font-weight: 800;
      }

      &::before {
        content: '';
        transition: opacity 0.4s ease-in-out;
        opacity: 0;
      }

      &:hover::before {
        left: calc(var(--_gap) + var(--_icon-width) + .2rem);
        content: attr(data-message);
        position: absolute;
        color: inherit;
        font-weight: bold;
        top: 10px;
        z-index: 2;
        opacity: 1;
      }

    }
  }
}

.progress-bar {
  width: 100%;
  height: 30px;
  background: black;
  position: relative;

  .progress {
    max-width: var(--value, 0);

    height: 30px;
    background: hsl(from var(--primary-color) h s l / 85%);
    transition: width 2s ease 0.4s;

    animation: scroll-progress linear;
    animation-timeline: view();
    animation-range: 0px 200px;
    transform-origin: left;
  }


}

@keyframes scroll-progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.contact {
  div {
    display: flex;
    justify-content: center;
    gap: 1em;

    a {
      display: grid;
      place-items: Center;

      font-size: var(--font-size-md);

      color: inherit;

      &:hover {
        color: hsl(from var(--primary-color) h s l / 70%);
      }
    }
  }
}

footer {
  display: grid;
  place-items: center;

  padding-block: 1em;
}



/* Keyframa animations */
@media(prefers-reduced-motion: no-preference) {

  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }

  @keyframes arrowanimation {
    from {
      transform: translate(0px, -50px);
    }

    to {
      transform: translate(0px, 50px);

    }
  }
}
